.filter {
  position: absolute;
  left: 10.73%;
  top: 11.85%;
  padding: 0;
  width: 232px;
  height: 252px;

  font-family: Open Sans, sans-serif;
  font-style: normal;

  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;

  &__header {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    margin: 20px 20px 10px 20px;

    color: #4a4a4a;
  }

  &__container {
    display: flex;
    align-items: center;

    height: 40px;
    left: 50px;

    font-size: 13px;
    line-height: 20px;

    padding-left: 40px;
    cursor: pointer;

    color: #4a4a4a;
    &:hover {
      background: #f1fcff;
    }
  }

  /* Hide the browser's default checkbox */
  &__checkbox {
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  &__checkmark {
    position: absolute;
    left: 20px;

    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #9abbce;
    box-sizing: border-box;
    border-radius: 2px;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  /* When the checkbox is checked, add a blue border */
  &__container input:checked ~ &__checkmark {
    border: 1px solid #2196f3;
  }

  /* Show the checkmark when checked */
  &__container input:checked ~ &__checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  &__container &__checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #2196f3;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
  }
}
