.mostfilter {
  display: flex;

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  margin-left: 20px;

  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  cursor: pointer;

  &__type {
    width: 251px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;

    border: 1px solid #dfe5ec;
    box-sizing: border-box;

    color: #4a4a4a;

    &_cheap {
      border-radius: 5px 0 0 5px;
      border-right: 0;
    }

    &_fast {
      border-radius: 0 5px 5px 0;
    }

    &_active {
      width: 252px;

      background: #2196f3;

      color: #fff;
    }
  }
}
